@charset "utf-8";
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ************************* classes ****************************** */

.background-primary {
  background: linear-gradient(to bottom, #efe3de 50%, #c18577);
}

.background-offcanvas-primary {
  background: linear-gradient(to bottom, #efe3de 50%, #ebcec8);
}




/* font family */

.font-family-primary {
  font-family: var(--poppinsFont);
}

/* card colors */

.card-clr-primary {
  background: var(--gastroThird);
}

.card-clr-primary-deportes {
  background: var(--natureThird);
}

/* button style */

.btn-clr-primary {
  background: var(--buttons);
}

.btn:hover {
  background: #590829;
}

/* p style */

.description {
  width: clamp(50ch, 3vw, 80ch);
}

/* off canvas style */

.active-offcanvas {
  background: var(--buttons);
}

.social-media-icons {
  cursor: pointer;
}
